.container {
    display: flex;
    justify-content: space-between;
}

.logo-container {
    margin: 10px;
}

.logo {
    width: 6rem;
    height: 6rem;
    padding: 10px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.5rem;
}