.container {
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 2;
}

.logo-container {
    margin: 10px;
}

.logo {
    width: 6rem;
    height: 6rem;
    padding: 10px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.5rem;
}