.container {
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  padding: 15px 5px;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;
}

.content {
  position: absolute;
  background-color: white;
  top: 0;
  right: 0;
  border-radius: 15px;
  height: fit-content;
  padding: 15px 15px;
  box-shadow: 5px 5px 5px rgb(5, 0, 5, 0.9);
}

.logout-btn {
  padding: 2px 7px;
  width: 100%;
  background-color: red;
  color: white;
  font-size: 1.2rem;
}

.nav-link {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.nav-link:hover {
  color: teal;
}

.menu-li{
  padding: 3px;
  font-weight: bold;
}
