.container {
    display: flex;
    /* border: 3px solid pink; */
    flex-direction: column;

}

.title {
    font-size: 3.5rem;
    line-height: 3.5rem;
    width: 60vw;
}

.text {
    font-size: 1.3rem;
    line-height: 1.5rem;
    width: 60vw;
    /* width: 65%; */
    padding: 3rem 0;
}

.image-container {
    /* margin-right: 25px; */
    /* border: 3px solid blue; */
}

.image {
    object-fit: fill;
    height: 400;
    width: 400;
}