.container {
    display: flex;
}

.title {
    font-size: 3.5rem;
    line-height: 3.5rem;
}

.text {
    font-size: 1.3rem;
    line-height: 1.5rem;
    width: 65%;
    padding: 3rem 0;
}

.image-container {
    margin-right: 25px;
}