.container {
    background-color: var(--bg-color);
    width: 100%;
    margin-left: 5px;
}

.nav-link {
    font-size: 1.7rem;
    text-decoration:  none;
    margin: 0 35px 50px 0;
}

.active {
    font-size: 1.7rem;
    color: pink;
}

.title {
    margin: 25px 0;
    color: gray;
}

img {
    border-radius: 25px;
}