.container {
  display: flex;
  flex-direction: column;
  margin-top: 115px;
  background-color: #a68365;
  filter: contrast(1.45);
  /* position: fixed; */
}

.title-container {
  display: flex;
}

.subtitle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-self: center;
}

.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: var(--bg-color);
  /* margin-top: 25px; */
  /* margin-right: 75px; */
}

.cta-btn {
  padding: 0.5rem;
  border-radius: 15px;
  background-color: var(--black);
  color: var(--white);
  font-size: 2rem;
}

.card {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 2;
  text-align: center;
}

.card-link {
  text-decoration: none;
  font-size: 1.8rem;
}

.text {
  font-size: 1rem;
}
