.btn {
    background-color: darkgray;
    padding: 0.5rem;
    color:black;
    font-size: 1.2rem;
    margin-right: 10px;
    cursor: pointer;
}

.join-btn {
    background-color: red;
    padding: 0.5rem;
    color: white;
}