.container {
    /* display: flex; */
    position: fixed;
    background-color: white;
    padding: 15px 0;
}

.card-container {
    display: flex;
}

.card-content {
    margin-left: 15px;
}

.title-link {
    text-decoration: none;
    font-size: 1.7rem;
}
.events-container {
   margin-top: 400px;
   margin-bottom: 25px;
}