.container {
    background-color: white;
    padding: 15px 0;
}

.card-container {
    display: flex;
}

.card-content {
    margin-left: 15px;
}

.title-link {
    text-decoration: none;
    font-size: 1.7rem;
}
.events-container {
   margin-bottom: 25px;
}

.name {
    font-size: 1.8rem;
    padding: 0.7rem;
}

.location {
    font-size: 1rem;
    padding: 0.7rem;
}

.visibility {
    font-size: 1rem;
    letter-spacing: 0.005em;
    padding-left: 0.7rem;
}

p.dot::before {
    content: "\00a0";
}

p.dot::after {
    content: "\00a0";
}

.organized-by {
    font-size: 1rem;
    padding: 0.7rem;
}