.container {
    margin: 0px auto 0 5vw;
    width: 33vw;
}

form .input {
    margin-bottom: 15px ;
    padding: 5px;
    border: 1px solid black;
    width: 100%;
    background-color: rgba(0, 255, 255, 0.359);
}

.label-text {
    font-weight: bold;
    margin: 15px 0;
}

.label-text > li {
    font-weight: bold;
    margin-left: 15px;
}

form .textarea {
    width: 100%;
    background-color: rgba(0, 255, 255, 0.359);
}
.title {
    text-transform: uppercase;
    color: rgb(10, 145, 166);
}

.field-heading {
    font-size: 1.5rem;
    font-weight: bold;
}

.hr {
    height: 3px;
    background-color: grey;
    margin: 15px 0;
    width: 45vw;
}

/* .dropdown {
    display: flex;
    flex-direction: column;
} */

.error {
    color: red;
}

.submit-btn {
    padding: 20px;
    color: white;
    font-size: 1.3rem;
    background-color: red;
}