:root {
  --primary-color: #97978D;
  --secondary-color: #97978d;
  --bg-color: #FFFFFF;
  --primary-font: 'PT Serif', serif;
  --title-font: 'Ultra', serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: var(--primary-font);
  background-color: #a68365;
}

h1 {
  font-family: var(--primary-font);
}

h2 {
  font-family: var(--title-font);
  letter-spacing: 0.05rem;
}

.hidden {
  display: none;
}

ul {
  list-style: none;
}

form {
  width: 33vw;
  display: flex;
  flex-direction: column;
}

input {
  font-family: inherit;
}

input[type="text"],
input[type="password"] {
  margin-bottom: 15px;
  padding: 5px;
  border: 2.5px solid black;
  width: 100%;
}

button {
  margin-bottom: 15px;
}
