.container {
    display: flex;
}

.main-container {
    display: flex;
}

.image-container {
    margin: 5px;
}

.image {
    border-radius: 50%;
}

.content-container {
}

.event-details-container {
    padding: 10px;
}

.group-container {
    display: flex;
    padding: 10px;

}

.group-image-container {
    
}

.group-content-container {
}

.event-details-container {
    display: flex;
    flex-direction: column;
}